{% extends "base.html" %}
{% load staticfiles %}
{% block  title%}
    产品详情
{% endblock %}

{% block  content%}
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
    <div class="container">
        <div class="model-details-product-title">
            {{ product.title }}   <!--product为后台传递过来的数据-->
            <br>
            浏览量：{{ product.views }}
        </div>
        <div class="model-details">
            {% for img in product.productImgs.all %}
            <div class="row-4">
                <img class="img-responsive" src="{{ img.photo.url }}">
            </div>
            {% endfor %}
            <h3>产品介绍</h3>
            <p>
                {{ product.description|linebreaks }}
            </p>
            <h3>参考价格</h3>
            <p>{{ product.price }}</p>
        </div>
    </div>
{% endblock %}
